<nav class="navigation-bar container">
    <!-- Desktop Navigation -->
    <div class="logo" routerLink="/">
        <h3>Predictive Quality Control</h3>
    </div>

    <div class="menu">
        <button id="focus-link" routerLink="/upload">PREDICT</button>
    </div>

    <div class="quick-links">
        <img src="/logo.png" alt="ABB Logo" class="abb-logo">
    </div>

    <!-- Mobile Navigation -->
    <div class="mobile-bar">
        <div class="logo">
            <h4>Predictive Quality Control</h4>
        </div>
        <div class="hamburger-btn">
            <div class="line bar1"></div>
            <div class="line bar2"></div>
            <div class="line bar3"></div>
        </div>
    </div>

    <div class="mobile-menu">
        <button id="focus-link">Upload</button>
    </div>
</nav>